body {
    background-color: rgb(238, 238, 238);
    background-image: url("bg.jfif");
}

.box {
    background-color: white;
    width: 50%;
    margin: 100px auto 5px;
    border-radius: 15px 15px 5px 5px;
    box-shadow: 10px 10px 8px #888888;
    padding: 2px;
    box-sizing: border-box;
}

._lng {
    width: 45%;
    padding: 5px;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

.s {
    background-color: slateblue;
    color: snow;
    cursor: pointer;
}

.s:hover {
    color: #FFFFFF;
}

.sel {
    margin: 10px 3%;
}

.sub {
    background-color: teal;
    display: block;
    margin: 5px auto;
    width: 94%;
}

.bt {
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: background-color 0.2s;
    cursor: pointer;
}

.bt:hover {
    background-color: rgb(0, 168, 168);
    color: #FFFFFF;
}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 600px;
    background-color: white;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 10px 10px 8px #888888;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(37, 37, 37);
}
